.jade-widget-container{
    align-items: flex-end !important;
    background-color: transparent !important;
    bottom: 20px !important;
    box-sizing: border-box !important;
    display: flex !important;
    font-family: Arial, Helvetica, sans-serif !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    left: auto !important;
    margin: 0 !important;
    min-height: 400px !important;
    min-width: 225px !important;
    padding: 6px 8px 6px 6px !important;
    position: fixed !important;
    right: 20px !important;
    top: auto !important;
    z-index: 2147483647 !important;
}
.jade-guides-widget{
    position: relative !important;
    display: block;
    flex-direction: column !important;
    z-index: 2147483647 !important;
    color: #333 !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    padding: 6px 8px 6px 6px !important;
    opacity: 1 !important;
    line-height: 14px !important;
    text-decoration: none !important;
    transform: none !important;
    margin-bottom: 15px !important;
    width: 225px !important;
    height: 175px !important;
    overflow: visible !important;
    white-space: nowrap;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.jade-widget-header{
    height: 20%;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    display: flex;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}
.jade-widget-icon{
    position: relative !important;
    display: block !important;
    box-sizing: border-box !important;
    width: 55px !important;
    height: 55px !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    margin: 0 !important;
    opacity: 1 !important;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
}