.jade-widget-container{
    position: fixed !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    box-sizing: border-box !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    top: auto !important;
    right: 20px !important;
    bottom: 20px !important;
    left: auto !important;
    background-color: transparent !important;
    padding: 6px 8px 6px 6px !important;
    transform: none !important;
    margin: 0 !important;
    min-width: 100px !important;
    min-height: 200px !important;
    overflow: visible !important;
}
.jade-guides-widget{
    position: relative !important;
    display: block !important;
    flex-direction: column !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    top: auto !important;
    right: 12px !important;
    bottom: 12px !important;
    left: auto !important;
    color: #AAADB0 !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    padding: 6px 8px 6px 6px !important;
    font-size: 12px !important;
    opacity: 1 !important;
    line-height: 14px !important;
    text-decoration: none !important;
    transform: none !important;
    margin-bottom: 15px !important;
    width: 100px !important;
    height: 100px !important;
    overflow: visible !important;
    white-space: nowrap;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.jade-widget-icon{
    position: relative !important;
    display: block !important;
    box-sizing: border-box !important;
    width: 55px !important;
    height: 55px !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    margin: 0 !important;
    opacity: 1 !important;
}